OKEPAY_BASE_URL=https://apipay.nikistore.biz.id/api.php
OKEPAY_API_KEY=isi_apikey_okepay
ORDER_SIGNING_SECRET=ganti_dengan_random_panjang
SITE_URL=https://domain-vercel-kamu.vercel.app
FONNTE_TOKEN=isi_token_fonnte
OWNER_WHATSAPP_NUMBER=628xxxxxxxxxx

DOWNLOAD_STARTER_STORE_URL=https://example.com/starter-store.zip
DOWNLOAD_WHATSAPP_BOT_URL=https://example.com/whatsapp-bot.zip
DOWNLOAD_DASHBOARD_SAAS_URL=https://example.com/dashboard-saas.zip
DOWNLOAD_TOPUP_PANEL_URL=https://example.com/topup-panel.zip
